body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #ffffff; /* Weiß */
    line-height: 1.25;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh; /* Vollbildhöhe */
    box-sizing: border-box;
    background-color: #ffffff; /* Weiß */
}

.container > .side {
    flex: 1; /* 1 Teil für den Rand */
    background-color: #ffffff; /* Weiß */
}

.container > .content {
    flex: 2; /* 1 Teil für den Textbereich */
    padding: 20px;
    background-color: #ffffff; /* Weiß */
}

/* Anpassung für Inline-LaTeX-Formeln */
.math-inline {
    display: inline; /* Verhindert, dass MathJax als Inline-Block behandelt wird */
    vertical-align: baseline; /* Richtet die Formel an der Grundlinie aus */
}

.math-inline > * {
    vertical-align: baseline; /* Stellt sicher, dass Unterelemente korrekt ausgerichtet sind */
}

/* Für Mobilgeräte (Breite kleiner als 768px) */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stapelt die Ränder und den Inhalt vertikal */
    }

    .container > .side {
        display: none; /* Versteckt die Ränder auf kleinen Bildschirmen */
    }

    .container > .content {
        flex: 1; /* Textbereich füllt den ganzen Bildschirm */
        max-width: 100%;
        padding: 10px; /* Kleinerer Abstand für schmale Bildschirme */
    }
}
