body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px; /* Behalte die angegebene Fontgröße bei */
    background-color: #ffffff; /* Weiß */
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh; /* Vollbildhöhe */
    box-sizing: border-box;
    background-color: #ffffff; /* Weiß */
}

.container > .side {
    flex: 1; /* 1 Teil für den Rand */
    background-color: #ffffff; /* Weiß */
}

.container > .content {
    flex: 1.5; /* 1 Teil für den Textbereich */
    padding: 20px;
    background-color: #ffffff; /* Weiß */
}

/* Styling für Absätze */
p {
    margin: 10px 0; /* 20px vertikaler Abstand zwischen Absätzen */
    line-height: 1.3; /* Mehr Abstand zwischen den Zeilen innerhalb eines Absatzes */
}

/* Anpassung für Inline-LaTeX-Formeln */
.math-inline {
    display: inline; /* Verhindert, dass MathJax als Inline-Block behandelt wird */
    vertical-align: baseline; /* Richtet die Formel an der Grundlinie aus */
}

.math-inline > * {
    vertical-align: baseline; /* Stellt sicher, dass Unterelemente korrekt ausgerichtet sind */
}

/* Styling für Links */
a {
    color: #b00000; /* Dunkelrot */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

a:hover {
    color: #b00000; /* Leuchtendes Rot beim Hover */
    text-decoration: none; /* Unterstreichung bleibt deaktiviert */
}

/* Für Mobilgeräte (Breite kleiner als 768px) */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stapelt die Ränder und den Inhalt vertikal */
    }

    .container > .side {
        display: none; /* Versteckt die Ränder auf kleinen Bildschirmen */
    }

    .container > .content {
        flex: 1; /* Textbereich füllt den ganzen Bildschirm */
        max-width: 100%;
        padding: 10px; /* Kleinerer Abstand für schmale Bildschirme */
    }
}
